*/Makefile
*/Makefile.in
*/aclocal.m4
*/config.guess
*/autom4te.cache
*/config.guess
*/config.h
*/config.h.in
*/config.log
*/config.status
*/config.sub
*/configure
*/depcomp
*/install-sh
*/libtool
*/ltmain.sh
*/macros/l*.m4
*/missing
*/libdicl_*.pc
**/Makefile
**/Makefile.in
**/.deps
**/*.la
**/*.o
**/.libs
**/stamp-h1
**/build/*
**/compile
**/*.pc
**/*.trs
**/*.log
**/tests/test-*
.libs
.deps
.dirstamp
*.lo
*.o
*~
**/*.Tpo
