*/Makefile
*/Makefile.in
*/aclocal.m4
*/config.guess
*/autom4te.cache
*/config.guess
*/config.h
*/config.h.in
*/config.log
*/config.status
*/config.sub
*/configure
*/depcomp
*/install-sh
*/libtool
*/ltmain.sh
*/macros/l*.m4
*/missing
*/libdicl_*.pc
*/src/Makefile
*/src/Makefile.in
*/src/*/.deps
*/src/*/Makefile
*/src/*/Makefile.in
*/src/*/*.la
*/src/*/*.o
*/src/*/.libs
*/stamp-h1
*/*/build/*
*/compile
*/*.pc
.libs
.deps
.dirstamp
*.lo
*.o
*~
